html{
    scroll-behavior: smooth;
}

body {
    text-align: center;
    padding-top: 800px;
}

#img {
    height: 800px;
    background: linear-gradient(#66ff66 0%, #cce6ff 100%);
    vertical-align: middle;
    display: table;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#img_div {
    vertical-align: middle;
    margin: 10px;
    display: table-cell;
}

#name {
    font-family: 'Faster One';
    font-size: 22px;
}

p {
    font-family: 'Aguafina Script';
    font-size: 22px;
}

#careerAndResearch {
    margin-top: 50px;
}

.menu {
    width:100%;
    position: absolute;
    top: 0px;
    margin-top: 0px;
    z-index: 10;
    cursor: pointer;
}

.nothing {
    display:inline;
    padding: 10px;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Courier Prime', monospace;
    text-shadow: 2px 2px #928C89;
}

.workClass{
    text-decoration: none;
}
h1{
    text-transform: uppercase;
}
#footer{
    background-color: aqua;
    font-size: 20px;
    padding:10px;
    font-family: 'Courier Prime';
    text-decoration: underline !important;
}